/*TODO: Merge this file with intro.css, as it is simply an extention specifying the stylization for the intro page's navigation
    bar.*/

/*TODO: figure out why I felt this was necessary to state explicitly.*/
#wrap-slideNav,
#nav,
#wrap-slideNav .slidebar {
    width: 100%;
    position: relative;
}

#wrap-slideNav {
    max-height: 30vh;
    min-height: 30vh;
    height: 30vh;
    position: fixed;
    bottom: 0;
}

#nav, #slidebar {
    height: 10vw;
    max-height: 10vw;
    overflow: hidden;
    white-space: nowrap;
}

#previousButton,
#nextButton {
    display: inline-block;
    width: 5.333vw;
    height: 10vw;
    background: #212121;
    
    color: #FFFFFF;
    background-size: contain;
    background-repeat: no-repeat;
    
    transition: all 0.15s ease;
    cursor: default;
}

#previousButton {
    position: absolute;
    /*background: linear-gradient(to left, #282828 0%, #151515 80%, #131313 100%);*/
    left: 4.65vw;
    z-index: 1;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#nextButton {
    /*background: linear-gradient(to right, #282828 5%, #080808 80%, #080808 100%);*/
    position: absolute;
    right: 4.65vw;
    z-index: 1;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#previousButton p,
#nextButton p {
    position: relative;
    text-align: center;
    font-size: 5.333vw;
    display: block;
    transform: translate(0%, 30%);
}

#previousButton:hover { /*5.333vw*/
    border-left-color: #126180;
    border-left-style: solid;
    border-left-width: 0.15vw;
    left: 4.30vw;
    
    
}

#nextButton:hover {
    border-right-color: #126180;
    border-right-style: solid;
    border-right-width: 0.15vw;
    right: 4.35vw;
    background: #252525;
}

#previousButton:hover, 
#nextButton:hover {
    color: #126180;
    width: 5.533vw;
}

#slidebar {
    display: block;
    z-index: 0;
    
    margin-left: 9.985vw;
    margin-right: 9.985vw;
}

#slidebar .menu-option:first-of-type { border-left-style: none;}

#wrap-slideNav .menu-option {
    display: inline-block;
    position: relative;
    
    font-size: 3vw;
    white-space: normal;
    
    text-align: center;
    width: 19.99vw;
    min-width: 19.99vw;
    min-height: 10vw;
    max-height: 10vw;
    
    border-style: solid;
    border-color: #080808;
    border-width: 0.1vw;
    border-top-style: none;
    
    background: #FFFFFF;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background: #126180;
    
    overflow: hidden;
}

  
#wrap-slideNav .menu-option .caption {
    position: absolute;
    z-index: 9999; 
    width: 19.97vw;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-top-style: solid;
    border-top-color: #080808;
    border-top-width: 0.1vw;
    height: 10vw;
    background: rgba(18, 97, 128, 1);
    color: white;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}


#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(0) { animation: charAnim 3.5s ease 0s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(1) { animation: charAnim 3.5s ease 0.25s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(2) { animation: charAnim 3.5s ease 0.5s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(3) { animation: charAnim 3.5s ease 0.75s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(4) { animation: charAnim 3.5s ease 1.0s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(5) { animation: charAnim 3.5s ease 1.25s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(6) { animation: charAnim 3.5s ease 1.5s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(7) { animation: charAnim 3.5s ease 1.75s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(8) { animation: charAnim 3.5s ease 2.0s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(9) { animation: charAnim 3.5s ease 2.25s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(10) { animation: charAnim 3.5s ease 2.5s infinite; }
#wrap-slideNav .menu-option:hover .caption .char:nth-of-type(11) { animation: charAnim 3.5s ease 2.75s infinite; }


@keyframes charAnim {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-0.65vw);
    }
    40% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}